<div class="container" [style.padding-top]="'4rem'">
    <div class="r-50">
        <h3 class="text-center">Deine eigene Chat-Client generieren</h3>
        <div>
            <h4 class="optiontitle">Dein Benutzer erstellen</h4>
            <div class="optiondiv">
                <label>Name</label>
                <br>
                <input type="text" [(ngModel)]="name" placeholder="Gibt bitte dein Name ein">
                <br>
                <br>
                <label>Logo</label>
                <br>
                <input type="text" [(ngModel)]="logo" placeholder="Gibt dein Logo ein">
                <br>
                <br>
                <button class="btn btn-lg btn-outline-primary" [style.padding]="'.3rem'" [style.margin-bottom]="'.4rem'" (click)="createUser()">Benutzer erstellen</button>
            </div>
        </div>
        <div>
            <h3 class="optiontitle">Schriftfarbe des Namens</h3>
            <div class="optiondiv">
                <input type="color" [(ngModel)]="namecolor">
            </div>
        </div>
        <div>
            <h3 class="optiontitle">Hintergrundfarbe</h3>
            <div class="optiondiv">
                <input type="color" [(ngModel)]="bgcolor">
            </div>
        </div>
        <div>
            <h3 class="optiontitle">Schriftart</h3>
            <div class="optiondiv">
                <select [(ngModel)]="fontfamily">
                <option style="font-family:Verdana" id="Verdana">Verdana </option>
                <option style="font-family:Georgia" id="Georgia">Georgia </option>
                <option style="font-family:Arial" id="Arial">Arial </option>
                <option style="font-family:Lemon" id="Lemon">Lemon </option>
                <option style="font-family:Times" id="Nosifer Caps">Times </option>
                <option style="font-family:new Roman" id="Knewave">new Roman </option>
                <option style="font-family:fantasy" id="Fascinate">fantasy </option>
                <option style="font-family:Engagement" id="Engagement">Engagement </option>
                <option style="font-family:Fresca" id="Fresca">Fresca </option>
                <option style="font-family:cursive">cursive</option>
                <option style="font-family:Geostar Fill" id="Geostar Fill">Geostar Fill </option>
                <option style="font-family:Cambria" id="Poller One">Cambria </option>
                <option style="font-family:serif" id="League Script">serif </option>
            </select>
            </div>
        </div>
        <div [style.padding-top]="'5rem'" [style.text-align]="'right'">
            <button mat-raised-button color="primary" (click)="open()">Generate your Chat-Client</button>
        </div>
    </div>



    <div class="r-50">
        <h3 class="text-center">Vorschau deines Chats</h3>
        <div class="preview-component">
            <app-messaging-comp [apikey]="apikey" [namecolor]="namecolor" [bgcolor]="bgcolor" [fontFamily]="fontfamily"></app-messaging-comp>
        </div>

    </div>
</div>
