.container {
    width: 95%;
}

.r-50 {
    width: 45%;
    height: auto;
    display: inline-block;
    background-color: aliceblue;
    margin-left: 2rem;
}

.text-center {
    text-align: center;
}

.optiontitle {
    margin: 0;
}

.optiondiv {
    width: 60%;
    border-radius: 8px;
    background-color: lightgray;
    padding: 0 15px;
    height: 46px;
    width: 435px;
    vertical-align: middle;
    display: table-cell;
    position: relative;
}

.preview-component {
    margin: auto;
    padding: auto;
    width: min-content;
}
